.task {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 0;
    gap: 1rem;

    background: var(--gray-500);

    border: 1px solid var(--gray-400);
    border-radius: 8px;
}


/** personalized checkbox */
.task label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
}

.task  label > input[type=checkbox]{
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid var(--blue);

    transition: all 0.2s;
}

.task label:hover > input[type=checkbox] ~ .checkmark {
    border-color: var(--blue-dark);
}

.checkmark:after {
    content: "";
    display: none;
    margin-top: -0.25rem;
    width: 5px;
    height: 10px;
    border: solid var(--gray-100);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    transition: display 0.2s;
}

.task label > input[type=checkbox]:checked ~ .checkmark:after {
    display: flex;
}

.task label > input[type=checkbox]:checked ~ .checkmark {
    background: var(--purple-dark);
    border-color: var(--purple-dark);
}

.task label:hover > input[type=checkbox]:checked ~ .checkmark {
    background: var(--purple);
    border-color: var(--purple);
}

.task label input[type=checkbox]:checked ~ span {
    text-decoration: line-through;
    color: var(--gray-300);
}

.task label span{
    color: var(--gray-100);
    font-size: 0.875rem;
    display: flex;
    flex:1;

    transition: color 0.2s
}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    display: flex;
    padding: 0.25rem 0.25rem;
    border-radius: 4px;
    margin-top: -0.25rem;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s
}

.task button:hover {
    background: var(--gray-400);
    color: var(--danger);
}