.wrapper {
    max-width: 46rem;
    margin: 0rem auto;
    margin-top: -1.6rem;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem
}

.searchBar input {
    flex: 1;
    padding: 1rem;
    background: var(--gray-500);
    color: var(--gray-100);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
}

.searchBar button {
    border: 0;
    padding: 1rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 700;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    transition: background 0.1s;
}

.searchBar button:hover {
    background: var(--blue);
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 4rem;
    gap: 1.5rem;
}

.countTasksBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countTasksBar div {
    font-size: 0.875rem;
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
}

.tasksCreated {
    color: var(--blue);
}

.tasksDone {
    color: var(--purple);
}

.counter{
    border-radius: 1rem;
    background: var(--gray-400);
    color: var(--gray-100);
    font-weight: 700;
    font-size: 0.75rem;
    padding: 2px 8px;
}

.tasksList > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tasks{
    gap: 0.75rem;
}


.noTasks {
    gap: 1rem;
    padding: 4rem 1.5rem;

    border-top: 1px solid var(--gray-400);
    color: var(--gray-300);
}


.noTasks svg {
    color: var(--gray-400)
}

.noTasks div {
    display: flex;
    flex-direction: column;
}